<div class="row">
  <div class="col-xs-8">
    <div class="main-block">
      <!--<pre>{{messages | async | json}}</pre>-->
      <div *ngFor="let item of messages | async" style="margin-bottom: 20px;">
        <div>
          <i class="text-muted">{{date(item.createdAt)}}</i>
          <small>{{(getUserData(item.author) | async)?.name}}<span class="text-warning" *ngIf="isYou(item.author)"> (you)</span></small>
          <div class="pull-right">
            <button (click)="deleteMessage(item.$key)" class="btn btn-danger btn-xs">X</button>
          </div>
        </div>
        <p>{{item.text}}</p>

      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="sidebar">
      <h4>Online users</h4>
      <div *ngFor="let usr of users | async" style="margin-bottom: 10px;">
        <small>{{usr.name}}<span class="text-warning" *ngIf="isYou(usr.uid)"> (you)</span></small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form (submit)="send()" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-xs-9">
          <input type="text" class="form-control"
                 [(ngModel)]="message" name="message" placeholder="Type your message here...">
        </div>
        <div class="col-sm-2 col-xs-3">
          <button class="btn btn-success" style="width: 100%;">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>


