<div class="container">
  <div class="row">
    <br>
    <div class="col-sm-12">

      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/app']">App</a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="!user">
          <a [routerLink]="['/auth']">Login</a>
        </li>
        <li role="presentation" *ngIf="user">
          <a (click)="logout()">Logout</a>
        </li>
      </ul>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
