/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}

.right-buttons i {
  color: #ccc;
  transition: all 300ms ease;
}

.right-buttons i:hover {
  color: #000;
}
